.container{
    display: block;
    margin: 0 auto;
    justify-items: center;
}

.image{
    cursor: pointer;
}
.error{
    color: red;
    margin-left: 10px;
}
h1{
    color: red;
}
h2{
    color: yellowgreen;
}